

div{
    border: 1px solid black;
    padding: 5px;
}

.container, .heading, .navigation, .nav-box{
    border: 1px solid black;
    display: flexbox;
}

.container{
    width: 100%;
}

@media(max-width: 600px){
    .heading{
        display: none;
    }
    .navigation{
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .nav-box{
        width: 45%
    }
}

@media(min-width: 600px){
    .heading{
        display: none;
    }
}

@media(min-width: 990px){
    .heading{
        display: flex;
    }
}

